openapi: 3.0.3
info:
  description: |-
    PayConductor API Documentation.

    This documentation covers all available features in the PayConductor RESTful API, including authentication, resource management, and usage examples.

    <br />

    <br />

    ----

    <br />


    # Authentication

    PayConductor API uses HTTP Basic authentication to validate requests. You need to provide your credentials (Client ID and Client Secret) in the `client:secret` format encoded in Base64.

    <br />

    ## Getting Credentials

    1. Access the PayConductor admin panel
    2. Navigate to **Settings > API Keys**
    3. Generate a new credentials pair (Client ID and Client Secret)
    4. Store the Client Secret in a secure location - it will not be displayed again

    <br />

    ## Authentication Format

    Credentials must be sent in the `Authorization` header using the Basic scheme:

    ```
    Authorization: Basic base64(client_id:client_secret)
    ```

    <br />

    ## Node.js Example

    ```javascript
    const clientId = 'your_client_id';
    const clientSecret = 'your_client_secret';

    // Encode credentials in Base64
    const credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');

    const response = await fetch('https://api.payconductor.com/api/v1/orders', {
      method: 'GET',
      headers: {
        'Authorization': `Basic ${credentials}`,
        'Content-Type': 'application/json'
      }
    });

    const data = await response.json();
    console.log(data);
    ```

    <br />

    ## Authentication Errors

    | Code | Description |
    |------|-------------|
    | `401` | Invalid or missing credentials |
    | `403` | Valid credentials but no permission for the resource |
    | `429` | Too many requests (rate limit exceeded) |

    ### Error Response Example

    ```json
    {
      "error": {
        "code": "UNAUTHORIZED",
        "message": "Invalid credentials",
        "details": "The provided client ID or secret is incorrect"
      }
    }
    ```
  title: PayConductor API
  version: 1.0.0
servers:
- url: https://app.payconductor.ai/api/v1
security:
- basicAuth: []
tags:
- description: "Manage charges, check order status, and handle refunds."
  name: Orders
- description: Initiate and monitor withdrawals and transfers to your external accounts.
  name: Withdrawals and Transfers
- description: "Manage customers, create, update, delete and list customers."
  name: Customers
- description: Tokenize credit cards for future charges.
  name: Card Tokenization
paths:
  /orders/:
    get:
      description: Retrieve a list of orders. Use date filter and pagination parameters
        to refine results as needed.
      operationId: getOrders
      parameters:
      - explode: true
        in: query
        name: period
        required: true
        schema:
          default: Last7Days
          description: Date filter period
          enum:
          - Today
          - Yesterday
          - Last7Days
          - Last30Days
          - ThisMonth
          - LastMonth
          - ThisYear
          - Custom
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: true
        schema:
          default: 1
          description: Page number
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: pageSize
        required: true
        schema:
          default: 20
          description: Number of items per page
          maximum: 100
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          description: Internal ID of the order or charge
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - Generating
          - Pending
          - Completed
          - Failed
          - Canceled
          - Refunding
          - Refunded
          - InDispute
          - Chargeback
          type: string
        style: form
      summary: List orders
      tags:
      - Orders
    post:
      description: Create a new order for payment using the provided data
      operationId: postOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postOrders_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postOrders_200_response"
          description: Response for status 200
      summary: Create order
      tags:
      - Orders
  /orders/{id}:
    get:
      description: Retrieve the complete data of an order by our ID
      operationId: getOrdersById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      summary: Get order by ID
      tags:
      - Orders
  /orders/{id}/refund:
    post:
      description: Initiate a refund for the order specified by ID.
      operationId: postOrdersByIdRefund
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      summary: Refund order
      tags:
      - Orders
  /withdraws/:
    get:
      description: "Returns a paginated list of withdrawals and transfers. Filter\
        \ by creation date or search by ID (withdrawal ID, external ID, acquirer ID,\
        \ or End2EndID)"
      operationId: getWithdraws
      parameters:
      - explode: true
        in: query
        name: period
        required: true
        schema:
          default: Last7Days
          description: Date filter period
          enum:
          - Today
          - Yesterday
          - Last7Days
          - Last30Days
          - ThisMonth
          - LastMonth
          - ThisYear
          - Custom
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: true
        schema:
          default: 1
          description: Page number
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: pageSize
        required: true
        schema:
          default: 20
          description: Number of items per page
          maximum: 100
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          description: "Withdrawal search ID (can be withdrawal ID, external ID, acquirer\
            \ ID, or End2EndID)"
          type: string
        style: form
      summary: List withdrawals
      tags:
      - Withdrawals and Transfers
    post:
      description: Create a new withdrawal or transfer to the provided payment account
      operationId: postWithdraws
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postWithdraws_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postWithdraws_200_response"
          description: Response for status 200
      summary: Create withdrawal
      tags:
      - Withdrawals and Transfers
  /withdraws/{id}:
    get:
      description: Returns the details of a specific withdrawal or transfer using
        its ID
      operationId: getWithdrawsById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      summary: Get withdrawal by ID
      tags:
      - Withdrawals and Transfers
  /customers/:
    get:
      operationId: getCustomers
      parameters:
      - explode: true
        in: query
        name: email
        required: false
        schema:
          format: email
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: true
        schema:
          default: 1
          description: Page number
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: pageSize
        required: true
        schema:
          default: 20
          description: Number of items per page
          maximum: 100
          minimum: 1
          multipleOf: 1
          type: number
        style: form
      - explode: true
        in: query
        name: period
        required: true
        schema:
          default: Last7Days
          description: Date filter period
          enum:
          - Today
          - Yesterday
          - Last7Days
          - Last30Days
          - ThisMonth
          - LastMonth
          - ThisYear
          - Custom
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          description: End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          description: Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)
          format: date-time
          type: string
        style: form
      tags:
      - Customers
    post:
      operationId: postCustomers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
        description: Schema for creating a new customer
        required: true
      tags:
      - Customers
  /customers/{id}:
    delete:
      operationId: deleteCustomersById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      tags:
      - Customers
    get:
      operationId: getCustomersById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      tags:
      - Customers
    patch:
      operationId: patchCustomersById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer_1"
        description: Schema for creating a new customer
        required: true
      tags:
      - Customers
  /card-tokenization/:
    post:
      description: Tokenize credit cards for future charges.
      operationId: postCard-tokenization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postCard_tokenization_request"
        description: Data for creating a customer card
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postCard_tokenization_200_response"
          description: Response for status 200
      summary: Tokenize card
      tags:
      - Card Tokenization
components:
  schemas:
    Customer_address:
      description: Schema for creating a new address
      example:
        country: BR
        number: number
        zipCode: zipCode
        city: city
        street: street
        neighborhood: neighborhood
        state: state
      properties:
        city:
          description: City name
          type: string
        country:
          default: BR
          description: Country code in ISO 3166-1 alpha-2 format
          maxLength: 2
          minLength: 2
          type: string
        neighborhood:
          description: Neighborhood name
          type: string
        number:
          description: Address number
          type: string
        state:
          description: State code in ISO 3166-2 format
          maxLength: 2
          minLength: 2
          type: string
        street:
          description: Street name
          type: string
        zipCode:
          description: ZIP code without formatting
          type: string
      required:
      - city
      - country
      - neighborhood
      - number
      - state
      - street
      - zipCode
      title: Customer address
      type: object
    Customer:
      description: Schema for creating a new customer
      example:
        address:
          country: BR
          number: number
          zipCode: zipCode
          city: city
          street: street
          neighborhood: neighborhood
          state: state
        phoneNumber: phoneNumber
        documentType: Cpf
        documentNumber: documentNumber
        name: name
        email: email
      properties:
        address:
          $ref: "#/components/schemas/Customer_address"
        documentNumber:
          description: Customer CPF or CNPJ without formatting
          pattern: "^\\d{11}$|^\\d{14}$"
          type: string
        documentType:
          enum:
          - Cpf
          - Cnpj
          type: string
        email:
          description: Customer email
          format: email
          type: string
        name:
          description: Customer full name
          type: string
        phoneNumber:
          description: Customer phone number in +55 DD 9XXXXXXXX format
          pattern: "^\\+(\\d{1,2}) (\\d{2}) (\\d{8,9})$"
          type: string
      required:
      - documentNumber
      - documentType
      - email
      - name
      title: Customer
      type: object
    postOrders_request_fingerprints:
      properties:
        threatMetrixFingerprintId:
          description: ThreatMetrix fingerprint ID for fraud analysis
          type: string
      type: object
    postOrders_request_items_inner:
      properties:
        id:
          description: Product or service ID in your system
          type: string
        isPhysical:
          default: false
          description: Defines if the item is a physical product or a service
          type: boolean
        name:
          description: Product or service name
          type: string
        qty:
          description: Quantity of the product or service
          type: number
        unitPrice:
          description: Unit price
          type: number
      required:
      - id
      - isPhysical
      - name
      - qty
      - unitPrice
      type: object
    MerchantInput:
      description: Merchant data for order or withdrawal
      properties:
        document:
          description: Merchant CPF or CNPJ without formatting
          pattern: "^\\d{11}$|^\\d{14}$"
          type: string
        email:
          description: Merchant email
          format: email
          type: string
        name:
          description: Merchant name
          maxLength: 255
          minLength: 2
          type: string
      required:
      - document
      - email
      - name
      title: MerchantInput
      type: object
    Pix_expirationInSeconds:
      anyOf:
      - default: "0"
        format: integer
        type: string
      - default: 3600
        description: PIX expiration time in seconds
        minimum: 3600
        type: integer
      default: 3600
      description: PIX expiration time in seconds
      minimum: 3600
    Pix:
      properties:
        paymentMethod:
          type: string
        expirationInSeconds:
          $ref: "#/components/schemas/Pix_expirationInSeconds"
      required:
      - paymentMethod
      title: Pix
      type: object
    Tokenized_card:
      properties:
        firstSixCardNumber:
          description: First 6 digits of the credit card
          type: string
        token:
          description: Previously generated credit card token
          type: string
      required:
      - token
      title: Tokenized card
      type: object
    Complete_card_data_expiration:
      properties:
        month:
          description: Card expiration month
          maximum: 12
          minimum: 1
          type: number
        year:
          description: Card expiration year
          maximum: 2046
          minimum: 2025
          type: number
      required:
      - month
      - year
      type: object
    Complete_card_data:
      properties:
        cvv:
          description: Card security code (CVV)
          maxLength: 4
          minLength: 3
          type: string
        expiration:
          $ref: "#/components/schemas/Complete_card_data_expiration"
        holderName:
          description: Card holder name
          type: string
        number:
          description: Credit card number
          type: string
      required:
      - cvv
      - expiration
      - holderName
      - number
      title: Complete card data
      type: object
    Credit_Card_card:
      anyOf:
      - $ref: "#/components/schemas/Tokenized_card"
      - $ref: "#/components/schemas/Complete_card_data"
    Credit_Card_installments:
      anyOf:
      - default: "0"
        format: integer
        type: string
      - default: 1
        description: Number of installments
        maximum: 12
        minimum: 1
        type: integer
      default: 1
      description: Number of installments
      maximum: 12
      minimum: 1
    Credit_Card:
      properties:
        paymentMethod:
          type: string
        card:
          $ref: "#/components/schemas/Credit_Card_card"
        installments:
          $ref: "#/components/schemas/Credit_Card_installments"
        softDescriptor:
          description: Text that will appear on the card statement (soft descriptor)
          maxLength: 22
          minLength: 1
          type: string
      required:
      - card
      - installments
      - paymentMethod
      title: Credit Card
      type: object
    Bank_Slip_expirationInDays:
      anyOf:
      - default: "0"
        format: integer
        type: string
      - default: 7
        description: Days until bank slip expires
        minimum: 1
        type: integer
      default: 7
      description: Days until bank slip expires
      minimum: 1
    Bank_Slip:
      properties:
        paymentMethod:
          type: string
        expirationInDays:
          $ref: "#/components/schemas/Bank_Slip_expirationInDays"
      required:
      - paymentMethod
      title: Bank Slip
      type: object
    NuPay_nuPay:
      description: Specific data for NuPay payment
      properties:
        cancelUrl:
          description: Payment cancellation URL
          type: string
        merchantName:
          description: Merchant name
          type: string
        returnUrl:
          description: Return URL after payment completion
          type: string
        storeName:
          description: Store name
          type: string
      required:
      - cancelUrl
      - merchantName
      - returnUrl
      type: object
    NuPay:
      properties:
        paymentMethod:
          type: string
        nuPay:
          $ref: "#/components/schemas/NuPay_nuPay"
      required:
      - nuPay
      - paymentMethod
      title: NuPay
      type: object
    PicPay:
      properties:
        paymentMethod:
          type: string
      required:
      - paymentMethod
      title: PicPay
      type: object
    postOrders_request_payment:
      anyOf:
      - $ref: "#/components/schemas/Pix"
      - $ref: "#/components/schemas/Credit_Card"
      - $ref: "#/components/schemas/Bank_Slip"
      - $ref: "#/components/schemas/NuPay"
      - $ref: "#/components/schemas/PicPay"
      description: "Payment data for the order (Pix, Credit Card, Bank Slip, NuPay,\
        \ etc...)"
    postOrders_request_session:
      description: "If externalSessionId or sessionId is provided and an existing\
        \ session exists, it will be updated with the new data. Otherwise, a new session\
        \ will be created."
      properties:
        expiresInMinutes:
          default: 30
          description: Time in minutes for checkout session expiration
          minimum: 15
          type: number
        checkoutUrl:
          description: Checkout URL for redirection
          type: string
        sessionId:
          description: ID generated by our service to identify the checkout session
          type: string
        externalSessionId:
          description: Checkout session ID generated by the client side. The ID must
            be unique for each cart session
          minLength: 16
          type: string
      type: object
    postOrders_request:
      additionalProperties: false
      properties:
        chargeAmount:
          description: Total amount to be charged on the order in floating point value
          type: number
        clientIp:
          description: Client IP address
          type: string
        customer:
          $ref: "#/components/schemas/Customer"
        discountAmount:
          default: 0
          description: Discount amount
          type: number
        externalId:
          description: Order ID in your system
          type: string
        fingerprints:
          $ref: "#/components/schemas/postOrders_request_fingerprints"
        items:
          description: List of products or services in the order
          items:
            $ref: "#/components/schemas/postOrders_request_items_inner"
          maxItems: 20
          type: array
        merchant:
          $ref: "#/components/schemas/MerchantInput"
        payment:
          $ref: "#/components/schemas/postOrders_request_payment"
        splitAmountTotal:
          description: "Total split amount to be paid to the merchant (Used only for\
            \ reporting purposes, does not generate actual split)"
          minimum: 0
          type: number
        session:
          $ref: "#/components/schemas/postOrders_request_session"
        shippingFee:
          default: 0
          description: Shipping fee
          type: number
        taxFee:
          default: 0
          description: Additional fees
          type: number
        metadata:
          description: Additional metadata for the order as key-value pairs. Keys
            should not contain spaces or special characters
          type: object
      required:
      - chargeAmount
      - clientIp
      - customer
      - discountAmount
      - externalId
      - payment
      - shippingFee
      - taxFee
      type: object
    postOrders_200_response_pix:
      description: PIX data
      example:
        qrCodeUrl: qrCodeUrl
        copyAndPasteCode: copyAndPasteCode
        endToEndId: endToEndId
      properties:
        copyAndPasteCode:
          description: PIX copy and paste code
          type: string
        qrCodeUrl:
          description: PIX QR Code image URL
          type: string
        endToEndId:
          description: PIX E2E ID
          nullable: true
          type: string
      required:
      - copyAndPasteCode
      - endToEndId
      - qrCodeUrl
      type: object
    postOrders_200_response_bankSlip:
      example:
        pdfUrl: pdfUrl
        barCode: barCode
        digitableLine: digitableLine
      properties:
        barCode:
          description: Bank slip bar code
          type: string
        digitableLine:
          description: Bank slip digitable line
          type: string
        pdfUrl:
          description: Bank slip PDF URL
          type: string
      required:
      - barCode
      - digitableLine
      type: object
    postOrders_200_response_nuPay:
      example:
        paymentUrl: paymentUrl
      properties:
        paymentUrl:
          description: NuPay payment URL
          type: string
      required:
      - paymentUrl
      type: object
    postOrders_200_response_picPay:
      example:
        qrCodeUrl: qrCodeUrl
        copyAndPasteCode: copyAndPasteCode
      properties:
        copyAndPasteCode:
          description: PicPay copy and paste code
          type: string
        qrCodeUrl:
          description: PicPay QR Code image URL
          type: string
      required:
      - copyAndPasteCode
      - qrCodeUrl
      type: object
    postOrders_200_response_creditCard:
      example:
        authorizationCode: authorizationCode
      properties:
        authorizationCode:
          description: Transaction authorization code
          type: string
      type: object
    postOrders_200_response_orderItems_inner:
      example:
        totalAmount: 5.962133916683182
        totalNetAmount: 5.637376656633329
        qty: 1.4658129805029452
        name: name
        externalId: externalId
        unityPrice: 2.3021358869347655
        id: id
      properties:
        externalId:
          description: External item ID
          nullable: true
          type: string
        id:
          description: Item ID in the order
          type: string
        name:
          description: Product/service name
          type: string
        qty:
          description: Quantity
          type: number
        totalAmount:
          description: Total item amount (quantity × unit price)
          type: number
        totalNetAmount:
          description: Total net amount of the item
          type: number
        unityPrice:
          description: Unit price
          type: number
      required:
      - externalId
      - id
      - name
      - qty
      - totalAmount
      - totalNetAmount
      - unityPrice
      type: object
    postOrders_200_response_session:
      example:
        sessionId: sessionId
      nullable: true
      properties:
        sessionId:
          description: ID of the checkout session associated with the order
          type: string
      required:
      - sessionId
      type: object
    postOrders_200_response:
      additionalProperties: false
      example:
        amount: 0.8008281904610115
        payedAt: payedAt
        costFee: 6.027456183070403
        nuPay:
          paymentUrl: paymentUrl
        session:
          sessionId: sessionId
        externalIntegrationId: externalIntegrationId
        errorMessage: errorMessage
        externalId: externalId
        errorCode: errorCode
        picPay:
          qrCodeUrl: qrCodeUrl
          copyAndPasteCode: copyAndPasteCode
        orderItems:
        - totalAmount: 5.962133916683182
          totalNetAmount: 5.637376656633329
          qty: 1.4658129805029452
          name: name
          externalId: externalId
          unityPrice: 2.3021358869347655
          id: id
        - totalAmount: 5.962133916683182
          totalNetAmount: 5.637376656633329
          qty: 1.4658129805029452
          name: name
          externalId: externalId
          unityPrice: 2.3021358869347655
          id: id
        externalIntegrationKey: externalIntegrationKey
        bankSlip:
          pdfUrl: pdfUrl
          barCode: barCode
          digitableLine: digitableLine
        paymentMethod: Pix
        id: id
        creditCard:
          authorizationCode: authorizationCode
        pix:
          qrCodeUrl: qrCodeUrl
          copyAndPasteCode: copyAndPasteCode
          endToEndId: endToEndId
        status: Generating
      properties:
        id:
          description: Order ID in the system
          type: string
        externalId:
          description: External order ID (provided by your integration)
          nullable: true
          type: string
        externalIntegrationKey:
          description: Provider used to process the order
          type: string
        externalIntegrationId:
          description: Order ID in the payment provider
          nullable: true
          type: string
        amount:
          description: Total order amount
          type: number
        costFee:
          description: Cost fee applied to the order
          type: number
        pix:
          $ref: "#/components/schemas/postOrders_200_response_pix"
        bankSlip:
          $ref: "#/components/schemas/postOrders_200_response_bankSlip"
        nuPay:
          $ref: "#/components/schemas/postOrders_200_response_nuPay"
        picPay:
          $ref: "#/components/schemas/postOrders_200_response_picPay"
        creditCard:
          $ref: "#/components/schemas/postOrders_200_response_creditCard"
        status:
          enum:
          - Generating
          - Pending
          - Completed
          - Failed
          - Canceled
          - Refunding
          - Refunded
          - InDispute
          - Chargeback
          type: string
        paymentMethod:
          enum:
          - Pix
          - CreditCard
          - DebitCard
          - BankSlip
          - Crypto
          - ApplePay
          - NuPay
          - PicPay
          - AmazonPay
          - SepaDebit
          - GooglePay
          type: string
        payedAt:
          description: Date and time when the order was paid (ISO 8601)
          nullable: true
          type: string
        errorCode:
          description: "Error code, if any"
          nullable: true
          type: string
        errorMessage:
          description: "Error message, if any"
          nullable: true
          type: string
        orderItems:
          items:
            $ref: "#/components/schemas/postOrders_200_response_orderItems_inner"
          type: array
        session:
          $ref: "#/components/schemas/postOrders_200_response_session"
      required:
      - amount
      - costFee
      - errorCode
      - errorMessage
      - externalId
      - externalIntegrationId
      - externalIntegrationKey
      - id
      - orderItems
      - payedAt
      - paymentMethod
      - status
      type: object
    postWithdraws_request_payoutAccount:
      properties:
        ownerDocument:
          description: Account holder document (CPF or CNPJ)
          type: string
        ownerName:
          description: Account holder name
          type: string
        pixKey:
          description: PIX key for withdrawal
          type: string
        pixType:
          default: Cnpj
          description: PIX key type
          enum:
          - Cnpj
          - Cpf
          - Email
          - Phone
          - Random
          type: string
      required:
      - ownerDocument
      - ownerName
      - pixKey
      - pixType
      type: object
    postWithdraws_request:
      properties:
        amount:
          description: Withdrawal amount in cents
          minimum: 1
          type: number
        externalId:
          description: Withdrawal ID in your system
          type: string
        merchant:
          $ref: "#/components/schemas/MerchantInput"
        payoutAccount:
          $ref: "#/components/schemas/postWithdraws_request_payoutAccount"
      required:
      - amount
      - payoutAccount
      type: object
    postWithdraws_200_response_payedAt:
      anyOf:
      - description: Date and time when the withdrawal was paid (ISO 8601 format)
        type: Date
      - format: date-time
        type: string
      - format: date
        type: string
      - type: number
      description: Date and time when the withdrawal was paid (ISO 8601 format)
      nullable: true
    postWithdraws_200_response_payoutAccount:
      example:
        pixType: Cpf
        ownerName: ownerName
        id: id
        ownerDocument: ownerDocument
        pixKey: pixKey
      properties:
        id:
          description: Unique payment account identifier
          type: string
        ownerDocument:
          description: Account holder document (CPF or CNPJ)
          pattern: "^\\d{11}$|^\\d{14}$"
          type: string
        ownerName:
          description: Account holder name
          type: string
        pixKey:
          description: PIX key used for the withdrawal
          type: string
        pixType:
          default: Cpf
          description: PIX key type
          enum:
          - Cpf
          - Cnpj
          - Email
          - Phone
          - Random
          type: string
      required:
      - id
      - ownerDocument
      - ownerName
      - pixKey
      - pixType
      type: object
    postWithdraws_200_response:
      example:
        payedAt: ""
        costFee: 0.8008281904610115
        externalIntegrationId: externalIntegrationId
        errorMessage: errorMessage
        externalId: externalId
        errorCode: errorCode
        payoutAccount:
          pixType: Cpf
          ownerName: ownerName
          id: id
          ownerDocument: ownerDocument
          pixKey: pixKey
        id: id
        externalIntegrationKey: externalIntegrationKey
        status: Pending
      properties:
        id:
          description: Unique withdrawal identifier
          type: string
        externalId:
          description: Withdrawal ID in your system
          nullable: true
          type: string
        externalIntegrationKey:
          description: Provider key used for the withdrawal
          type: string
        externalIntegrationId:
          description: Withdrawal ID in the payment provider
          nullable: true
          type: string
        costFee:
          description: Cost fee applied to the withdrawal
          type: number
        status:
          default: Pending
          description: Withdrawal status
          enum:
          - Pending
          - Transferring
          - Completed
          - Failed
          type: string
        errorCode:
          description: "Error code, if any"
          nullable: true
          type: string
        errorMessage:
          description: "Descriptive error message, if any"
          nullable: true
          type: string
        payedAt:
          $ref: "#/components/schemas/postWithdraws_200_response_payedAt"
        payoutAccount:
          $ref: "#/components/schemas/postWithdraws_200_response_payoutAccount"
      required:
      - costFee
      - errorCode
      - errorMessage
      - externalId
      - externalIntegrationId
      - externalIntegrationKey
      - id
      - payedAt
      - payoutAccount
      - status
      type: object
    Customer_1:
      description: Schema for creating a new customer
      properties:
        address:
          $ref: "#/components/schemas/Customer_address"
        documentNumber:
          description: Customer CPF or CNPJ without formatting
          pattern: "^\\d{11}$|^\\d{14}$"
          type: string
        documentType:
          enum:
          - Cpf
          - Cnpj
          type: string
        email:
          description: Customer email
          format: email
          type: string
        name:
          description: Customer full name
          type: string
        phoneNumber:
          description: Customer phone number in +55 DD 9XXXXXXXX format
          pattern: "^\\+(\\d{1,2}) (\\d{2}) (\\d{8,9})$"
          type: string
      title: Customer
      type: object
    Customer_2_documentType:
      anyOf:
      - type: string
      - type: string
      description: "Document type: Cpf or Cnpj"
    Customer_2:
      description: Schema for creating a new customer
      properties:
        address:
          $ref: "#/components/schemas/Customer_address"
        documentNumber:
          description: Customer CPF or CNPJ without formatting
          pattern: "^\\d{11}$|^\\d{14}$"
          type: string
        documentType:
          $ref: "#/components/schemas/Customer_2_documentType"
        email:
          description: Customer email
          format: email
          type: string
        name:
          description: Customer full name
          type: string
        phoneNumber:
          description: Customer phone number in +55 DD 9XXXXXXXX format
          pattern: "^\\+(\\d{1,2}) (\\d{2}) (\\d{8,9})$"
          type: string
      required:
      - documentNumber
      - documentType
      - email
      - name
      title: Customer
      type: object
    postCard_tokenization_request_customer_anyOf:
      properties:
        id:
          description: ID do cliente existente
          type: string
      required:
      - id
      type: object
    postCard_tokenization_request_customer:
      anyOf:
      - $ref: "#/components/schemas/Customer_2"
      - $ref: "#/components/schemas/postCard_tokenization_request_customer_anyOf"
    postCard_tokenization_request:
      description: Data for creating a customer card
      properties:
        card:
          $ref: "#/components/schemas/Complete_card_data"
        saveCard:
          description: Indicates if the card should be saved for future use
          type: boolean
        customer:
          $ref: "#/components/schemas/postCard_tokenization_request_customer"
      required:
      - card
      - customer
      - saveCard
      type: object
    postCard_tokenization_200_response:
      example:
        customerId: customerId
        token: token
      properties:
        customerId:
          description: ID of the customer associated with the created card
          type: string
        token:
          description: Token of the created card for future transactions
          type: string
      required:
      - customerId
      - token
      type: object
  securitySchemes:
    basicAuth:
      description: "Use the format Authorization: Basic base64('client_id:client_secret')"
      scheme: basic
      type: http

