/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package payconductor-sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import payconductor-sdk.models.Customer
import payconductor-sdk.models.Customer1

import com.squareup.moshi.Json

import payconductor-sdk.infrastructure.ApiClient
import payconductor-sdk.infrastructure.ApiResponse
import payconductor-sdk.infrastructure.ClientException
import payconductor-sdk.infrastructure.ClientError
import payconductor-sdk.infrastructure.ServerException
import payconductor-sdk.infrastructure.ServerError
import payconductor-sdk.infrastructure.MultiValueMap
import payconductor-sdk.infrastructure.PartConfig
import payconductor-sdk.infrastructure.RequestConfig
import payconductor-sdk.infrastructure.RequestMethod
import payconductor-sdk.infrastructure.ResponseType
import payconductor-sdk.infrastructure.Success
import payconductor-sdk.infrastructure.toMultiValue

open class CustomersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://app.payconductor.ai/api/v1")
        }
    }

    /**
     * DELETE /customers/{id}
     * 
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCustomersById(id: kotlin.String) : Unit {
        val localVarResponse = deleteCustomersByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /customers/{id}
     * 
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCustomersByIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteCustomersByIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCustomersById
     *
     * @param id 
     * @return RequestConfig
     */
    fun deleteCustomersByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/customers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter period
     */
     enum class PeriodGetCustomers(val value: kotlin.String) {
         @Json(name = "Today") Today("Today"),
         @Json(name = "Yesterday") Yesterday("Yesterday"),
         @Json(name = "Last7Days") Last7Days("Last7Days"),
         @Json(name = "Last30Days") Last30Days("Last30Days"),
         @Json(name = "ThisMonth") ThisMonth("ThisMonth"),
         @Json(name = "LastMonth") LastMonth("LastMonth"),
         @Json(name = "ThisYear") ThisYear("ThisYear"),
         @Json(name = "Custom") Custom("Custom");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /customers/
     * 
     * 
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param period  (default to Period.Last7Days)
     * @param email  (optional)
     * @param name  (optional)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCustomers(page: java.math.BigDecimal = java.math.BigDecimal("1"), pageSize: java.math.BigDecimal = java.math.BigDecimal("20"), period: PeriodGetCustomers = PeriodGetCustomers.Last7Days, email: kotlin.String? = null, name: kotlin.String? = null, endDate: java.time.OffsetDateTime? = null, startDate: java.time.OffsetDateTime? = null) : Unit {
        val localVarResponse = getCustomersWithHttpInfo(page = page, pageSize = pageSize, period = period, email = email, name = name, endDate = endDate, startDate = startDate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /customers/
     * 
     * 
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param period  (default to Period.Last7Days)
     * @param email  (optional)
     * @param name  (optional)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getCustomersWithHttpInfo(page: java.math.BigDecimal, pageSize: java.math.BigDecimal, period: PeriodGetCustomers, email: kotlin.String?, name: kotlin.String?, endDate: java.time.OffsetDateTime?, startDate: java.time.OffsetDateTime?) : ApiResponse<Unit?> {
        val localVariableConfig = getCustomersRequestConfig(page = page, pageSize = pageSize, period = period, email = email, name = name, endDate = endDate, startDate = startDate)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCustomers
     *
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param period  (default to Period.Last7Days)
     * @param email  (optional)
     * @param name  (optional)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @return RequestConfig
     */
    fun getCustomersRequestConfig(page: java.math.BigDecimal, pageSize: java.math.BigDecimal, period: PeriodGetCustomers, email: kotlin.String?, name: kotlin.String?, endDate: java.time.OffsetDateTime?, startDate: java.time.OffsetDateTime?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (email != null) {
                    put("email", listOf(email.toString()))
                }
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                put("page", listOf(page.toString()))
                put("pageSize", listOf(pageSize.toString()))
                put("period", listOf(period.value))
                if (endDate != null) {
                    put("endDate", listOf(parseDateToQueryString(endDate)))
                }
                if (startDate != null) {
                    put("startDate", listOf(parseDateToQueryString(startDate)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/customers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /customers/{id}
     * 
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCustomersById(id: kotlin.String) : Unit {
        val localVarResponse = getCustomersByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /customers/{id}
     * 
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getCustomersByIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = getCustomersByIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCustomersById
     *
     * @param id 
     * @return RequestConfig
     */
    fun getCustomersByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/customers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /customers/{id}
     * 
     * 
     * @param id 
     * @param customer1 Schema for creating a new customer
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchCustomersById(id: kotlin.String, customer1: Customer1) : Unit {
        val localVarResponse = patchCustomersByIdWithHttpInfo(id = id, customer1 = customer1)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /customers/{id}
     * 
     * 
     * @param id 
     * @param customer1 Schema for creating a new customer
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun patchCustomersByIdWithHttpInfo(id: kotlin.String, customer1: Customer1) : ApiResponse<Unit?> {
        val localVariableConfig = patchCustomersByIdRequestConfig(id = id, customer1 = customer1)

        return request<Customer1, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchCustomersById
     *
     * @param id 
     * @param customer1 Schema for creating a new customer
     * @return RequestConfig
     */
    fun patchCustomersByIdRequestConfig(id: kotlin.String, customer1: Customer1) : RequestConfig<Customer1> {
        val localVariableBody = customer1
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/customers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /customers/
     * 
     * 
     * @param customer Schema for creating a new customer
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postCustomers(customer: Customer) : Unit {
        val localVarResponse = postCustomersWithHttpInfo(customer = customer)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /customers/
     * 
     * 
     * @param customer Schema for creating a new customer
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun postCustomersWithHttpInfo(customer: Customer) : ApiResponse<Unit?> {
        val localVariableConfig = postCustomersRequestConfig(customer = customer)

        return request<Customer, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postCustomers
     *
     * @param customer Schema for creating a new customer
     * @return RequestConfig
     */
    fun postCustomersRequestConfig(customer: Customer) : RequestConfig<Customer> {
        val localVariableBody = customer
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/customers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
