=begin
#PayConductor API

#PayConductor API Documentation.  This documentation covers all available features in the PayConductor RESTful API, including authentication, resource management, and usage examples.  <br />  <br />  ----  <br />   # Authentication  PayConductor API uses HTTP Basic authentication to validate requests. You need to provide your credentials (Client ID and Client Secret) in the `client:secret` format encoded in Base64.  <br />  ## Getting Credentials  1. Access the PayConductor admin panel 2. Navigate to **Settings > API Keys** 3. Generate a new credentials pair (Client ID and Client Secret) 4. Store the Client Secret in a secure location - it will not be displayed again  <br />  ## Authentication Format  Credentials must be sent in the `Authorization` header using the Basic scheme:  ``` Authorization: Basic base64(client_id:client_secret) ```  <br />  ## Node.js Example  ```javascript const clientId = 'your_client_id'; const clientSecret = 'your_client_secret';  // Encode credentials in Base64 const credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');  const response = await fetch('https://api.payconductor.com/api/v1/orders', {   method: 'GET',   headers: {     'Authorization': `Basic ${credentials}`,     'Content-Type': 'application/json'   } });  const data = await response.json(); console.log(data); ```  <br />  ## Authentication Errors  | Code | Description | |------|-------------| | `401` | Invalid or missing credentials | | `403` | Valid credentials but no permission for the resource | | `429` | Too many requests (rate limit exceeded) |  ### Error Response Example  ```json {   \"error\": {     \"code\": \"UNAUTHORIZED\",     \"message\": \"Invalid credentials\",     \"details\": \"The provided client ID or secret is incorrect\"   } } ```

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenapiClient
  class WithdrawalsAndTransfersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List withdrawals
    # Returns a paginated list of withdrawals and transfers. Filter by creation date or search by ID (withdrawal ID, external ID, acquirer ID, or End2EndID)
    # @param period [String] 
    # @param page [Float] 
    # @param page_size [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :end_date 
    # @option opts [Time] :start_date 
    # @option opts [String] :id 
    # @return [nil]
    def get_withdraws(period, page, page_size, opts = {})
      get_withdraws_with_http_info(period, page, page_size, opts)
      nil
    end

    # List withdrawals
    # Returns a paginated list of withdrawals and transfers. Filter by creation date or search by ID (withdrawal ID, external ID, acquirer ID, or End2EndID)
    # @param period [String] 
    # @param page [Float] 
    # @param page_size [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :end_date 
    # @option opts [Time] :start_date 
    # @option opts [String] :id 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_withdraws_with_http_info(period, page, page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WithdrawalsAndTransfersApi.get_withdraws ...'
      end
      # verify the required parameter 'period' is set
      if @api_client.config.client_side_validation && period.nil?
        fail ArgumentError, "Missing the required parameter 'period' when calling WithdrawalsAndTransfersApi.get_withdraws"
      end
      # verify enum value
      allowable_values = ["Today", "Yesterday", "Last7Days", "Last30Days", "ThisMonth", "LastMonth", "ThisYear", "Custom"]
      if @api_client.config.client_side_validation && !allowable_values.include?(period)
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling WithdrawalsAndTransfersApi.get_withdraws"
      end
      if @api_client.config.client_side_validation && page < 1
        fail ArgumentError, 'invalid value for "page" when calling WithdrawalsAndTransfersApi.get_withdraws, must be greater than or equal to 1.'
      end

      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling WithdrawalsAndTransfersApi.get_withdraws"
      end
      if @api_client.config.client_side_validation && page_size > 100
        fail ArgumentError, 'invalid value for "page_size" when calling WithdrawalsAndTransfersApi.get_withdraws, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling WithdrawalsAndTransfersApi.get_withdraws, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/withdraws/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = period
      query_params[:'page'] = page
      query_params[:'pageSize'] = page_size
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WithdrawalsAndTransfersApi.get_withdraws",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WithdrawalsAndTransfersApi#get_withdraws\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get withdrawal by ID
    # Returns the details of a specific withdrawal or transfer using its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_withdraws_by_id(id, opts = {})
      get_withdraws_by_id_with_http_info(id, opts)
      nil
    end

    # Get withdrawal by ID
    # Returns the details of a specific withdrawal or transfer using its ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_withdraws_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WithdrawalsAndTransfersApi.get_withdraws_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WithdrawalsAndTransfersApi.get_withdraws_by_id"
      end
      # resource path
      local_var_path = '/withdraws/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WithdrawalsAndTransfersApi.get_withdraws_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WithdrawalsAndTransfersApi#get_withdraws_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create withdrawal
    # Create a new withdrawal or transfer to the provided payment account
    # @param post_withdraws_request [PostWithdrawsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostWithdraws200Response]
    def post_withdraws(post_withdraws_request, opts = {})
      data, _status_code, _headers = post_withdraws_with_http_info(post_withdraws_request, opts)
      data
    end

    # Create withdrawal
    # Create a new withdrawal or transfer to the provided payment account
    # @param post_withdraws_request [PostWithdrawsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostWithdraws200Response, Integer, Hash)>] PostWithdraws200Response data, response status code and response headers
    def post_withdraws_with_http_info(post_withdraws_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WithdrawalsAndTransfersApi.post_withdraws ...'
      end
      # verify the required parameter 'post_withdraws_request' is set
      if @api_client.config.client_side_validation && post_withdraws_request.nil?
        fail ArgumentError, "Missing the required parameter 'post_withdraws_request' when calling WithdrawalsAndTransfersApi.post_withdraws"
      end
      # resource path
      local_var_path = '/withdraws/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_withdraws_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostWithdraws200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WithdrawalsAndTransfersApi.post_withdraws",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WithdrawalsAndTransfersApi#post_withdraws\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
